<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/sources/css/style.css"></li>
    <link rel="stylesheet" href="/sources/css/new.css"></li>
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>

        <div th:each="task : ${tasks}" class="block">
            <input type="checkbox"  id="name" class="checkbox">
            <p th:text="${task.getName()}" class="element"></p>

            <form th:method="DELETE" th:action="@{/list/{id}(id=${task.getId()})}" th:object="${task}" >
                <input type="submit" value="Delete task" class="delete">
            </form>
        </div>


        <form th:method="POST" th:action="@{/list}" th:object="${newTask}">
            <label for="newName" class="label">Новая задача: </label>
            <input type="text" id="newName" th:field="*{name}" class="input">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <br>
            <input type="submit" value="Добавить!" class="smb">
        </form>

    </div>
</body>
</html>